<div class="page-header">
  <h1><%=t '.welcome', name: current_user.name %></h1>
</div>
<div class="row">
   <div class="control-group col-lg-8">
   		Este é o sistema da Escola Espaço Criança. O sistema visa facilitar atividades contidianas e o gerenciamento das informações.

   		<br/><br/>
   		PROCESSO DE MATRÍCULA:
   		<br/>
   		- Cadastre o Aluno
   		<br/>
   		- Cadastre os responsáveis
   		<br/>
   		- Cadastre a matrícula
   		<br/>
   		- Imprima o contrato e anexe a pasta.
   </div>
</div>   

