<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
	<h2>ESCOLA ESPAÇO CRIANÇA</h2>

	<p><strong>CONTRATO DE PRESTAÇÃO DE SERVIÇOS EDUCACIONAIS, NAS MODALIDADES BERÇÁRIO, NINHO E HOTELZINHO.</strong></p>

	<p><strong>1. DA CONTRATADA</strong>: <strong>PORPINO &amp; COUTINHO LTDA (ESCOLA ESPAÇO CRIANÇA)</strong>, pessoa jurídica de direito privado, localizada na Rua Dr. João Guilherme Pontes Sobrinho, n.º 516, Boa Viagem, Recife/PE, inscrita sob o CNPJ nº 07.913.689/0001-94 doravante denominada CONTRATADA, neste ato representada por sua sócia Sra. ANA CLÁUDIA PORPINO COUTINHO, portadora do RG de nº 2.375.107 SSP-PE e CPF sob o n.º 426.969.094-15.</p>

	<h5>2. ALUNO(A) / BENEFICIÁRIO(A):</h5>

	<pre>
		<code>
			NOME: GUSTAVO PORPINO COUTINHO 
			SEXO: $SEXO
			DATA DE NASCIMENTO: 
			LOCAL DE NASCIMENTO:
			COR/RAÇA: $COR
			ENDEREÇO:
		</code>
	</pre>

	<p><em>Informação de cor/raça é solicitada pelo Ministério da Educação – Censo Escolar – Portaria INEP 156 de 20/10/2004 – Categorias Cor/Raça definidas pelo IBGE.</em></p>

	<p>Reside com: □ os pais □ pai □ mãe <span class="s2">□</span> outros (especificar _______________________)</p>

	<h5>3. CONTRATANTE(S):</h5>

	<p><strong>DADOS DO PAI:</strong></p>

	<pre><code>NOME: $NOME_DO_PAI
	DATA DE NASCIMENTO:
	TELEFONE:
	ESTADO CIVIL:
	NACIONALIDADE:
	NATURALIDADE:
	EMAIL:
	EMPRESA: 
	OCUPAÇÃO:
	ENDEREÇO:
	</code></pre>

	<p><strong>DADOS DA MÃE:</strong></p>

	<pre><code>NOME: $NOME_DO_PAI
	DATA DE NASCIMENTO:
	TELEFONE:
	ESTADO CIVIL:
	NACIONALIDADE:
	NATURALIDADE:
	EMAIL:
	EMPRESA:
	OCUPAÇÃO:
	ENDEREÇO:
	</code></pre>

	<p><strong>RESPONSÁVEL FINANCEIRO:</strong></p>

	<pre><code>NOME: $NOME_DO_PAI
	DATA DE NASCIMENTO:
	TELEFONE:
	ESTADO CIVIL:
	NACIONALIDADE:
	NATURALIDADE:
	EMAIL:
	EMPRESA: 
	OCUPAÇÃO:
	ENDEREÇO:
	</code></pre>

	<p><strong>RESPONSÁVEL PEDAGÓGICO:</strong></p>

	<pre><code>NOME: $NOME_DO_PAI
	DATA DE NASCIMENTO:
	TELEFONE:
	ESTADO CIVIL:
	NACIONALIDADE:
	NATURALIDADE:
	EMAIL:
	EMPRESA: 
	OCUPAÇÃO:
	ENDEREÇO:
	</code></pre>

	<p><strong>4. PERÍODO OU TURNO EM QUE O(A) ALUNO(A) PERMANECERÁ NAS DEPENDÊNCIAS DA CONTRATADA.</strong></p>

	<table>
	<thead>
	<tr>
	<th>TURNO</th>
	<th>SIM</th>
	<th>NÃO</th>
	</tr>
	</thead>

	<tbody>
	<tr>
	<td>MANHÃ - 7h às 12h</td>
	<td></td>
	<td></td>
	</tr>
	<tr>
	<td>TARDE - 13h às 18h</td>
	<td></td>
	<td></td>
	</tr>
	<tr>
	<td>INTEGRAL - 7h às 18h</td>
	<td></td>
	<td></td>
	</tr>
	</tbody>
	</table>

	<p><strong>5. VALOR DA ANUIDADE E SUA DIVISÃO EM MENSALIDADES</strong></p>

	<p><strong>SERVIÇO:</strong> BERÇARIO (IDADE 00 A 01 ANO)? HOTELZINHO? NINHO? </p>

	<pre><code>VALOR DA ANUIDADE: 
	</code></pre>

	<table>
	<thead>
	<tr>
	<th style="text-align: right">Nº DE PARCELAS</th>
	<th style="text-align: right">VALOR DA PARCELA</th>
	<th>DIA DE VENCIMENTO</th>
	</tr>
	</thead>

	<tbody>
	<tr>
	<td style="text-align: right">11</td>
	<td style="text-align: right">772,80</td>
	<td>DIA 5 DE CADA MÊS</td>
	</tr>
	</tbody>
	</table>

	<p>Pelo presente Instrumento Particular, <strong>CONTRATADA, CONTRATANTE(S), RESPONSÁVEL FINANCEIRO E BENEFICIÁRIO(S),</strong> já identificados, celebram entre si, Contrato de Prestação de Serviços Educacionais, em conformidade com o previsto na legislação vigente, em especial, Lei nº 9.870/1999, Lei nº 8.078/1990, Lei nº 9.394/1996, Regimento Interno do Estabelecimento e normas complementares.</p>

	<h2>OBJETO</h2>

	<p><strong>CLÁUSULA PRIMEIRA</strong> – O objeto do presente Contrato é a prestação de serviços educacionais nas modalidades BERÇÁRIO, NINHO e HOTELZINHO, exclusivamente para o ano de $ANO, ao(a) aluno(a) identificado como beneficiário no presente Contrato.</p>

	<p>Parágrafo Único – A FICHA DE SAÚDE do aluno é um dos documentos que, devidamente preenchidos e assinados pelas partes, compõem o presente contrato.<span class="s4"><span class="Apple-converted-space"> </span></span></p>

	<h2>LOCAL E FORMA DA PRESTAÇÃO DOS SERVIÇOS</h2>

	<p><strong>CLÁUSULA SEGUNDA</strong> – O serviço será prestado nas instalações da Contratada, situada na Rua Dr. João Guilherme Pontes Sobrinho, n.º 516, Boa Viagem, Recife/PE.</p>

	<p>§ 1º - A prestação de serviços, objeto deste contrato, dar-se-á de modo distinto, consoante a faixa etária da criança, em turno especificamente contratado, conforme observado e assinalado no item 4 deste contrato, de segunda a sexta-feira, encerrando as atividades aos sábados e domingos, feriados nacionais e municipais, bem como durante o recesso anual, a partir do dia 23 até o dia 31 de Dezembro do corrente ano.</p>

	<p>§ 2º - A tolerância para entrada e saída do aluno beneficiário no estabelecimento escolar, será de 30 (trinta) minutos, reservando-se à Contratada o direito de aplicar multa de R$20,00 (vinte reais) por hora de atraso e ainda da proporcionalidade da hora.</p>

	<p><strong>CLÁUSULA TERCEIRA</strong> - A prestação de serviços compreende cuidados de sono, alimentação, recreação, atividades lúdicas, artes e a realização de tarefas com o professor, sendo esta última atividade, exclusivamente, para as opções Ninho e Hotelzinho.</p>

	<p>§ 1º - Os serviços contratados serão prestados a toda uma classe ou turma de crianças, portanto coletivamente e em caráter geral, nos turnos escolhidos pelo Contratante.</p>

	<p>§ 2º - O Contratante <strong>optou</strong> pelo fornecimento de alimentação ao menor impúbere, pela Contratada.</p>

	<p>§ 3º - O Contratante, para segurança e identificação do menor beneficiário deste contrato, enviará à Escola, o aluno beneficiário com fardamento do Contratado, portando Kit Escolar.</p>

	<p>§ 4º - Os custos com aquisição do Kit Escolar não estão incluídos nos valores deste contrato, sendo objeto de ajuste em instrumento apartado.</p>

	<p>§ 5º - O aluno beneficiário deste contrato estará sujeito às normas do Regimento Interno do Estabelecimento e complementares, à disposição para consulta no Estabelecimento, cujas determinações integram o presente instrumento para aplicação subsidiária e em casos omissos.</p>

	<h2>DIREITOS E DEVERES</h2>

	<p><strong>CLÁUSULA QUARTA</strong> - O presente contrato refere-se exclusivamente ao ano letivo de 2015, não gerando obrigação para a contratada de sua renovação para períodos subsequentes, ficando a critério da mesma a imediata exclusão do beneficiário durante o ano, objeto deste contrato, seja por motivos disciplinares, financeiros ou outros de quaisquer naturezas, observando o disposto na legislação pertinente.</p>

	<p>§ 1º - O contratante, desde já, fica de acordo que o contrato e os serviços não serão renovados para o ano subsequente em caso de inadimplência do contratante por débito decorrente deste contrato ou de período pretérito, assim como por motivo disciplinar previsto no regimento interno do estabelecimento contratado.</p>

	<p>§ 2º - Durante o prazo de vigência do presente contrato, poderá eventualmente aparecer a imagem do beneficiário em divulgação das atividades didáticas, pedagógicas, esportivas, cívicas e comemorativas do estabelecimento, podendo a contratada, livre de quaisquer pagamentos e ônus, reproduzi-la e ou divulgá-la na internet e nas mídias impressas e eletrônicas, exclusivamente para os fins descritos.</p>

	<p>§ 3º - A contratada poderá utilizar-se do envio de e-mails e mensagens de texto (SMS) ao contratante como complemento de comunicação e relacionamento entre as partes.</p>

	<p>§4º - É de responsabilidade do Contratante informar a Contratada de toda e qualquer ocorrência de doença infectocontagiosa do aluno, só podendo retornar às atividades escolares mediante apresentação de atestado médico autorizando comprovando sua aptidão para o convívio escolar. A não observância deste parágrafo poderá levar ao cancelamento de sua matrícula.</p>

	<p><strong>CLÁUSULA QUINTA</strong> - Para o fiel cumprimento deste contrato, os responsáveis pelo(a) aluno(a) deverão observar e orientá-los, do quanto segue:</p>

	<ol>
	<li> a) <span class="Apple-tab-span"></span> A Contratada não se responsabiliza pelo extravio de objetos de uso pessoal que, para minimizar ocorrências desta natureza, deverão conter identificação do(a) aluno(a);</li>
	<li> b) <span class="Apple-tab-span"></span> O estacionamento é local destinado ao embarque e desembarque dos alunos, não havendo responsabilidade da Contratada quanto a eventuais acidentes, incidente ou furtos;</li>
	<li> c) <span class="Apple-tab-span"></span> O(as) contratante(s) fica(m) ciente(s), de que a Contratada não presta quaisquer tipos de serviços em relação ao estacionamento, vigilância ou guarda de veículos automotores de qualquer natureza, não assumindo, portanto, para si, a responsabilidade de indenizações por eventuais danos decorrentes de sinistros circunvizinhos ao prédio da Contratada, fora de sua propriedade, ou pelo dever de segurança de pessoas ou de coisas além dos portões da escola, o qual compete ao Estado.</li>
	<li> d) <span class="Apple-tab-span"></span> A Contratada não se responsabiliza pelo desaparecimento de qualquer objeto não didático (ex. telefone, rádios, MP3, brinquedos, papel moeda, documentos, etc.), trazidos pelo aluno para o prédio onde são ministradas as aulas.</li>
	<li> e) <span class="Apple-tab-span"></span> Em suas dependências a Contratada não se responsabiliza pela guarda e consequente indenização decorrente do extravio ou dos danos causados a quaisquer objetos e ou vestuários sob a posse do(a) aluno(a) beneficiário e ou acompanhantes.</li>
	<li> f) <span class="Apple-tab-span"></span> O Calendário da Escola poderá, a critério da Contratada, ser alterado, respeitando-se, para tanto, os limites previstos em Lei.</li>
	</ol>

	<p><strong>CLÁUSULA SEXTA</strong> - Pelo presente instrumento, a Contratada obriga-se a:</p>

	<ol>
	<li> a) <span class="Apple-tab-span"></span> Manter interação permanente com a família, fazendo-a ciente e participativa do processo educacional.</li>
	<li> b) <span class="Apple-tab-span"></span> Ampliar o conhecimento e construção da autonomia do(a) aluno(a).</li>
	<li> c) <span class="Apple-tab-span"></span> É de inteira responsabilidade da Contratada o planejamento escolar e a prestação dos serviços educacionais, objeto deste contrato, especialmente no que se refere ao calendário escolar, designação de professores, orientação didático-pedagógica e educacional, além de outras providências.</li>
	</ol>

	<h2>PAGAMENTO</h2>

	<p><strong>CLÁUSULA SÉTIMA</strong> - A contraprestação pecuniária aos serviços educacionais prestados pela Contratada constitui-se em anuidade a ser paga integralmente pelo Contratante, da seguinte forma:</p>

	<p>§ 1º - A anuidade do ano letivo, correspondente ao valor de <span class="s4">R$\anuidade&lt;/span&gt;, que a critério da Contratada, poderá ser dividida em 12 (doze) parcelas mensais e sucessivas, sendo a primeira parcela paga no ato da matrícula, e as demais parcelas, mensalmente de fevereiro até dezembro do respectivo ano, com vencimento no dia \diaPagto\ de cada mês, acrescida, se for o caso, dos reajustes previstos em lei.</p>

	<p>§ 2º - A primeira parcela será paga no ato da assinatura deste contrato, ficando, desde já, acordado que havendo desistência expressa da matrícula pelo Contratante antes do início do cumprimento do contrato, haverá retenção de 30% (trinta por cento) do valor desta parcela paga, em razão de eventuais gastos despendidos pela Contratada com o processo de matrícula e admissão do aluno, bem como por danos decorrentes da ocupação da vaga.<span class="Apple-converted-space"> </span></p>

	<p>§ 3º O(as) Contratante(s) que efetuar (em) o pagamento das parcelas até o dia 05 de cada mês ou o pagamento total do contrato, terá(ão) um desconto de \descontoValor\ (\descontoValorPorExtenso) sobre o valor pago.</p>

	<p>§ 4º - Todas as parcelas serão pagas através de boletos do banco credenciado, na forma, prazos e valores emitidos pela contratada. Não é permitido pagamento a menor ou fora do prazo de vencimento contido nos boletos, ou realizados pelo contratante por meio eletrônico ou outros meios que possibilitem procedimentos indevidos.</p>

	<p>§ 5º - O pagamento da parcela realizado em desacordo com esta cláusula implicará a falta de liquidação da referida mensalidade, com a cobrança pela contratada do débito total ou da diferença, acrescido, em qualquer hipótese, dos juros, correção monetária e multa, na forma prevista neste contrato, independente de notificação extrajudicial por parte da Contratada.</p>

	<p>§ 6º - A Contratada não se responsabiliza por baixa de pagamentos efetuados através de depósito em conta corrente, transferências bancárias, boletos bancários não impressos por ela ou outro meio não autorizado.</p>

	<p>§ 7º - Já no curso do contrato, o não pagamento de 03 (três) parcelas de vencimentos mensais e consecutivos, ou de qualquer uma delas por prazo superior a 90 (noventa) dias implicará resolução imediata deste contrato, conforme disposição do art. 127, do Código Civil de 2002.</p>

	<h2>MULTA E FORMA DE EXECUÇÃO</h2>

	<p><strong>CLÁUSULA OITAVA</strong> - Em caso de atraso ou de inadimplência a partir do vencimento, o valor da parcela(s) vencida(s) será acrescido de multa no percentual de 2% (dois) por cento, correção monetária e juros de mora de 1% ao mês, contados pró rata temporis, dias corridos.</p>

	<p>§ 1º - Após 30 dias de vencida, a parcela só poderá ser paga a quem a contratada indicar por escrito, acrescida de multa citada no parágrafo anterior, juros de 1% ao mês e correção monetária calculada pelo IGPM ou no índice que vier a substituí-lo, no caso de sua extinção, contados os dois últimos, desde a data de vencimento, pró-rata tempore, de forma linear, além do contratante responder por todos os encargos da cobrança e aqueles previstos no art. 389, observado o disposto no art. 391, ambos do Código Civil.</p>

	<p>§ 2º - Em caso de inadimplência de qualquer parcela, a contratada poderá suspender a prestação dos serviços e executar este contrato, ficando estabelecido e acordado desde já entre as partes valer o mesmo como título executivo extrajudicial, pelo valor da anuidade e acréscimos legais e contratuais, se totalmente vencida, ou pelo valor das mensalidades e acréscimos não pagos, tudo nos exatos termos do art. 585, II, do CPC, bem como por outras medidas cabíveis, como proceder à inscrição do nome do contratante nos cadastros de inadimplentes e serviços de proteção ao crédito (SPC), Protesto, etc.<span class="Apple-converted-space"> </span></p>

	<p>§ 3º - Além da correção monetária, multa e juros moratórios, arcará o contratante e/ou responsável financeiro com os honorários advocatícios, no percentual de 20% (vinte por cento) sobre o valor total do débito, na hipótese de cobrança por advogado.</p>

	<h2>RESCISÃO CONTRATUAL</h2>

	<p><strong>CLÁUSULA NONA</strong> 3º - Em caso de resilição contratual por parte da Contratante, antes do encerramento do ano letivo, ou resolução contratual por descumprimento das cláusulas avençadas desse contrato por parte do Contratante, será aplicada multa de 20% (vinte por cento) do valor total do contrato e será devido o pagamento do valor do mês da rescisão.<span class="Apple-converted-space"> </span></p>

	<h2>VIGÊNCIA DO CONTRATO</h2>

	<p><strong>CLÁUSULA DÉCIMA</strong> - Este contrato somente terá validade e entrará em vigor para o contratante e para o beneficiário com o devido preenchimento dos dados constantes do Termo de Matrícula, a assinatura deste pelo contratante, o efetivo pagamento da matrícula e o seu deferimento pela diretoria do contratado.</p>

	<h2>FORO COMPETENTE</h2>

	<p><strong>CLÁUSULA DÉCIMA-PRIMEIRA</strong> - Fica eleito o foro da comarca de Recife, Estado de Pernambuco, como único competente para dirimir eventuais controvérsias oriundas do cumprimento do presente contrato, sendo facultado ao contratado, se assim lhe convier, optar pelo foro do domicílio ou residência do responsável financeiro, no caso de execução de dívidas inadimplidas.</p>

	<h2>DISPOSIÇÕES FINAIS</h2>

	<p>E, por estarem assim, justos e contratados, a contratada firma o presente, nesta oportunidade, firmando-o a contratante por ocasião da matrícula, através do preenchimento e assinatura do Termo de Matrícula, perante duas testemunhas, para que produza todos os efeitos legais.</p>

	<p>Recife, _____ de _____________________ de _________</p>

	<p><strong>______________________________________________</strong></p>

	<p><strong>PORPINO &amp; COUTINHO LTDA – CONTRATADA</strong> </p>

	<p>Ana Cláudia Porpino Coutinho, CPF nº 426.969.094-15</p>

	<p><strong>______________________________________________</strong></p>

	<p><strong>RESPONSÁVEL FINANCEIRO</strong></p>

	<p><strong>______________________________________________</strong></p>

	<p><strong>CONTRATANTE</strong></p>

	<p><strong>______________________________________________</strong></p>

	<p><strong>TESTEMUNHAS:</strong></p>

	<p>1. <strong>_____________________________________________</strong></p>

	<p>Nome: _____________________ CPF nº: _____________</p>

	<p>2. <strong>_____________________________________________</strong></p>

	<p>Nome: _____________________ CPF nº: _____________</p>

  </body>
</html>